<div class="ui-g">
  <p-table #pTable
    (onLazyLoad)="paginate($event)"
    [columns]="columns"
    [value]="value"
    [sortMode]="sortMode"
    [lazy]="lazy"
    [paginator]="paginator"
    [rows]="rows"
    [pageLinks]="pageLinks"
    [responsive]="responsive"
    [loadingIcon]="loadingIcon">
    <ng-template pTemplate="caption" let-columns>
      <ng-container *ngIf="prependCaptionTemplate">
        <ng-container *ngTemplateOutlet="prependCaptionTemplate"></ng-container>
      </ng-container>
      <div class="searchHeader">
        <input type="text" pInputText [placeholder]="filterPlaceholder" [(ngModel)]="searchFilter" />   
        <button pButton type="button" icon="fa-search" (click)="filterTable()"></button>   
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sortable">
            <ng-container *ngIf="col.sortable">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </ng-container>
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="3">
          No records found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- 
  <p-art-table #pTable 
    [value]="venueList" 
    [filterPlaceholder]="'Search Venue'">
    <ng-template pTemplate="prepend-caption">
      <div class="addHeader">
        <button type="button" pButton icon="fa-plus" (click)="addVenue()"></button>
        &nbsp;Venues
      </div>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <td *ngFor="let col of columns" [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'venueId'">
              <button pButton type="button" icon="fa-pencil" (click)="onRowSelect(rowData)" ></button>
              <button pButton type="button" icon="fa-trash" (click)="btnDelete(rowData)"></button>
          </ng-container>
          <ng-container *ngSwitchDefault>
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field]}}
          </ng-container>
        </td>
    </ng-template>
  </p-art-table>
 -->