.block-with-text {
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 115px; 
    text-align: justify;
    padding-right: 1em; 
}
.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 18px;
}
.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
.bg-white{
    background-color: white !important;
}
.ui-dialog-mask {
    position: fixed !important;
    width: 0 !important;
    height: 0 !important;
    z-index: 20000 !important;
}