<div class="card card-outline-info">
    <div class="card-header">
      <h4 class="m-b-0 text-white">Map It</h4>
    </div>
    <div class="standard-height card-body">
      <div class="row" *ngIf="showNearbyProperties">
        <div class="col col-lg-6 col-md-6 filter-by-container">
            Filter by: <p-dropdown class="leftalign" [options]="inspectorList" [showClear]="true" [autoWidth]="true"
            (onChange)="filterMarkers($event)" placeholder="Select inspector"></p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-12 col-md-12">
          <div class="mapit-container">
            <agm-map #mapIt
            [latitude]="currentIo.latitude" 
            [longitude]="currentIo.longitude"
            [zoom]="13"
            [minZoom]="2"
            [maxZoom]="15">
            
            <!-- <agm-circle [latitude]="currentIo.latitude" [longitude]="currentIo.longitude"
            [radius]="milesToRadius(.5)"
            [fillColor]="'blue'"
            [circleDraggable]="false"
            [editable]="false"></agm-circle> -->

            <app-map-it-map-marker
              [isCurrentProperty]="true"
              [currentInspectionStatus]="currentInspectionStatus"
              [inspectionOrder]="currentIo"></app-map-it-map-marker>

            <agm-marker-cluster imagePath="CustomClustererImage" [maxZoom]="12">
              <app-map-it-map-marker 
              *ngFor="let io of ioList; let i = index" 
              [currentInspectionStatus]="currentInspectionStatus"
              [inspectionOrder]="io"></app-map-it-map-marker>
            </agm-marker-cluster>
          </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>