<div class="row">
  <div class="col col-lg-12">
    <app-photo-memo-crud 
      getUrl="RetrieveNonWildfireAssessmentMitigationRequirements" 
      postUrl="CreateNonWildfireAssessmentMitigationRequirement"
      deleteUrl="DeleteNonWildfireAssessmentMitigationRequirement"
      headerLabel="Mitigation Requirement"
      addButtonLabel="Add Requirement"
      [isChild]="false"
      getUrlChild="RetrieveNonWildfireAssessmentChildMitigationRequirements" 
      postUrlChild="CreateNonWildfireAssessmentChildMitigationRequirement"
      deleteUrlChild="DeleteNonWildfireAssessmentChildMitigationRequirement"
      headerLabelChild="Replies"
      addButtonLabelChild="Add Reply"
      [isWildFireMitigation]="false"
      [isInsured]="false"></app-photo-memo-crud>
  </div>
  <div class="col col-lg-12">
    <app-photo-memo-crud 
      getUrl="RetrieveNonWildfireAssessmentMitigationRecommendations" 
      postUrl="CreateNonWildfireAssessmentMitigationRecommendation"
      deleteUrl="DeleteNonWildfireAssessmentMitigationRecommendation"
      headerLabel="Mitigation Recommendations"
      addButtonLabel="Add Recommendations"
      [isChild]="false"
      getUrlChild="RetrieveNonWildfireAssessmentChildMitigationRecommendations" 
      postUrlChild="CreateNonWildfireAssessmentChildMitigationRecommendation"
      deleteUrlChild="DeleteNonWildfireAssessmentChildMitigationRecommendation"
      headerLabelChild="Replies"
      addButtonLabelChild="Add Reply"
      [isWildFireMitigation]="false"
      [isInsured]="false"></app-photo-memo-crud>
  </div>
</div>