<div class="row">
    <div class="col-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Forgot Password</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="floating-labels m-t-40" id="form-section">
                    <div class="form-group m-b-40" [ngClass]="{ 'has-error has-feedback has-danger' : hasError('emailAddress') }">
                        <input type="text" class="form-control" formControlName="emailAddress">
                        <span class="bar"></span>
                        <label for="emailAddress">Email address</label>
                        <div class="form-control-feedback" *ngIf="hasError('emailAddress')">
                            <span *ngIf="form.controls['emailAddress'].errors['required']">Email Address is required</span>
                            <span *ngIf="form.controls['emailAddress'].errors['pattern']">Invalid Email Address Format</span>
                        </div>
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn btn-md btn-success waves-effect waves-light m-r-10" [disabled]="form.invalid" id="sumbitLogin">Send Email</button>
                        <!-- data-toggle="modal" data-target="#myModal" -->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>