<div id="loginCard" class="row">
  <div class="col-12">
      <div class="card card-outline-info">
          <div class="card-header">
              <h4 class="m-b-0 text-white">Login</h4>
          </div>
          <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="floating-labels m-t-40" id="form-section">
                  <div class="form-group m-b-40" [ngClass]="{ 'has-error has-feedback has-danger' : hasError('Username') }">
                      <input type="text" class="form-control" required id="Username" formControlName="Username" autocomplete="nope" role="presentation">
                      <span class="bar"></span>
                      <label *ngIf="!authService.isInsured" for="Username">Username or Email address</label>
                      <label *ngIf="authService.isInsured" for="Username">Policy Number</label>
                      <div *ngIf="hasError('Username') && !authService.isInsured" class="form-control-feedback">Please insert a valid username or e-mail address.</div>
                      <div *ngIf="hasError('Username') && authService.isInsured" class="form-control-feedback">Please insert a valid Policy Number.</div>
                    </div>
                  <div class="form-group m-b-40" [ngClass]="{ 'has-error has-feedback has-danger' : hasError('Password') }">
                      <input type="password" class="form-control" required [ngClass]="{ 'form-control-danger' : hasError('Password') }" id="Password" formControlName="Password">
                      <span class="bar"></span>
                      <label for="Password">Password</label>
                      <div *ngIf="hasError('Password')" class="form-control-feedback">Please insert a password.</div>
                      <div *ngIf="!authService.isInsured"><a [routerLink]="['/account/forgotpassword']">Forgot Password</a></div>
                  </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-md btn-success waves-effect waves-light m-r-10" [disabled]="form.invalid" id="sumbitLogin">Sign in</button>
                        <!-- data-toggle="modal" data-target="#myModal" -->
                </div>
                
              </form>
          </div>
      </div>
  </div>
</div>
<div [innerHtml]="hideLinks"></div>
