<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <form action="#" [formGroup]="propertyService.propertyForms.highValueInteriorFeature" class="card-body">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Interior Door Types</label>
                                <p-multiSelect 
                                    [options]="interiorDoorTypes" 
                                    formControlName="interiorDoorTypes" 
                                    defaultLabel="Select Interior Door Types"
                                    [disabled]="ioService.isFutureDate || !propertyService.isHighValue" 
                                    maxSelectedLabels="9999"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Door Hardware</label>
                                <p-multiSelect 
                                    [options]="doorHardwares" 
                                    formControlName="doorHardwares" 
                                    defaultLabel="Select Door Hardware"
                                    [disabled]="ioService.isFutureDate || !propertyService.isHighValue" 
                                    maxSelectedLabels="9999"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Rooms With Cabinetry</label>
                                <p-multiSelect 
                                    [options]="roomWithCabinetrys" 
                                    formControlName="roomWithCabinetrys" 
                                    defaultLabel="Select Rooms With Cabinetry"
                                    [disabled]="ioService.isFutureDate || !propertyService.isHighValue" 
                                    maxSelectedLabels="9999"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Lighting Types</label>
                                <p-multiSelect 
                                    [options]="lightingTypes" 
                                    formControlName="lightingTypes" 
                                    defaultLabel="Select Lighting Types"
                                    [disabled]="ioService.isFutureDate || !propertyService.isHighValue" 
                                    maxSelectedLabels="9999"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Number of Fireplaces</label>
                                <input (input)="setNumOfFirePlacesValue()" [readonly]="!propertyService.isHighValue" class="form-control int-only" maxlength="2" formControlName="numberofFireplace">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Fireplace Types</label>
                                <p-multiSelect 
                                    [options]="fireplaceTypes" 
                                    formControlName="fireplaceTypes" 
                                    defaultLabel="Select Fireplace Types"
                                    [disabled]="ioService.isFutureDate || !propertyService.isHighValue || !propertyService.isNumOfFirePlaces" 
                                    maxSelectedLabels="9999"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Staircases</label>
                                <p-multiSelect 
                                    [options]="staircases" 
                                    formControlName="staircases" 
                                    defaultLabel="Select Staircases"
                                    [disabled]="ioService.isFutureDate || !propertyService.isHighValue" 
                                    maxSelectedLabels="9999"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Miscellaneous/Extra Features</label>
                                <p-multiSelect 
                                    [options]="miscellaneousExtraFeatures" 
                                    formControlName="miscellaneousExtraFeatures" 
                                    defaultLabel="Select Miscellaneous/Extra Features"
                                    [disabled]="ioService.isFutureDate || !propertyService.isHighValue" 
                                    maxSelectedLabels="9999"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>