<div class="center-container">
    <app-title-page></app-title-page>
    <app-introduction></app-introduction>
    <app-risk-summary></app-risk-summary>
    <app-proactive-protection></app-proactive-protection>
    <app-photos-of-your-home></app-photos-of-your-home>
    <app-mitigation-requirements></app-mitigation-requirements>
    <app-mitigation-recommendations></app-mitigation-recommendations>
    <app-wildfire-assessment></app-wildfire-assessment>
    <app-wildfire-mitigation-requirements></app-wildfire-mitigation-requirements>
    <app-wildfire-mitigation-recommendations></app-wildfire-mitigation-recommendations>
</div>