<div class="row">
  <div class="col-12">
      <div class="card card-outline-info">
          <div class="card-header">
              <h4 class="m-b-0 text-white">Reset Password</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="floating-labels m-t-40" id="form-section">
                <div class="form-group m-b-40" [ngClass]="{ 'has-error has-feedback has-danger' : hasError('password') }">
                    <input type="password" class="form-control" required id="password" formControlName="password">
                    <span class="bar"></span>
                    <label for="password">New Password</label>
                    <div *ngIf="hasError('password')" class="form-control-feedback">
                        <!-- Password should be atleast 8 characters long, atleast 1 uppercase and lowercase and must contain a number -->
                        <span *ngIf="form.controls['password'].errors['required']">Password is required</span>
                        <span *ngIf="form.controls['password'].errors['pattern']">Password should be atleast 8 characters long, atleast 1 uppercase and lowercase and must contain a number</span>
                    </div>
                  </div>

                  <div class="form-group m-b-40" [ngClass]="{ 'has-error has-feedback has-danger' : hasError('confirmPassword') }">
                    <input type="password" class="form-control" required id="confirmPassword" formControlName="confirmPassword">
                    <span class="bar"></span>
                    <label for="confirmPassword">Confirm Password</label>
                    <div *ngIf="!form.controls['confirmPassword'].valid && 
                    form.controls['confirmPassword'].dirty" class="form-control-feedback">
                        <span *ngIf="form.controls['confirmPassword'].errors['required']">Confirm Password is required</span>
                        <span *ngIf="form.controls['confirmPassword'].errors['PasswordMismatch']">Password Mismatch</span>
                    </div>
                  </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-md btn-success waves-effect waves-light m-r-10" [disabled]="form.invalid" id="sumbitLogin">Update Password</button>
                        <!-- data-toggle="modal" data-target="#myModal" -->
                </div>
                
              </form>
          </div>
      </div>
  </div>
</div>